/* Misc
 * ----------------------------------------------------------------- */

.lhb-branding {
  align-items: center;
  display: flex;
}

.lhb-content {
  padding: 1em;
}

.lhb-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.lhb-header {
  align-items: center;
  background-color: var(--color-bg-default);
  display: flex;
  justify-content: space-between;
  padding: 0.875em 1em;
}

.lhb-providers {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lhb-provider {
  margin: 2em 0;
}

.lhb-resource-nav {
  background-color: var(--color-bg-default);
}

.lhb-resource {
  background-image: url(../images/icon-chevron--right.svg);
  background-position: center right;
  background-repeat: no-repeat;
  margin: 2em 0;
  padding-right: 4em;
}

.lhb-resources {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lhb-scrim {
  background-color: var(--color-scrim);
  display: none;
  height: 100vh;
  left: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  z-index: 50;
}

.menu-is-active .lhb-scrim {
  display: block;
}

.lhb-subcategory-links {
  display: none;
}

.lhb-subcategory-list {
  margin-top: 0.125em;
  opacity: 0.75;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 50em) {
  .lhb-subcategory-links {
    display: block;
  }
  .lhb-subcategory-list {
    display: none;
  }
}

.wbc-logo {
  display: block;
  height: 40px;
  width: auto;
}

/* Utilities
 * ----------------------------------------------------------------- */

.text-visual-highlight {
  font-weight: bold;
}
