<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Little Help Book: A Social Resource Directory for Lane County, Oregon</title>
  <link rel="stylesheet" href="{{ '/styles/styles.css' | url }}">
</head>
<body{% if bodyClass %} class="{{ bodyClass }}"{% endif %}>

  <header class="lhb-header">
    <div class="lhb-branding">
      <a class="wbc-logo" href="{{ "/" | url }}"><img src="{{ '/images/logo-wbc.png' | url }}" alt="White Bird Clinic"></a>
      <h2 class="lhb-heading--branding">Little Help Book</h2>
    </div>
    <nav class="lhb-nav-menu">
      <ul class="lhb-nav-menu-items">
<!-- <li><a class="lhb-nav-menu-item button" href="/es/">Español</a></li> -->
        <li><button class="lhb-nav-menu-item lhb-button lhb-button--plain">Menu</button></li>
      </ul>
    </nav>
  </header>

  <main class="lhb-content">
    {{ content | safe }}
  </main>
  
  <footer class="lhb-footer">
    <p>Powered by <a class="lhb-link" href="https://whitebirdclinic.org/">White Bird Clinic</a> &middot; <a class="lhb-link" href="/terms-of-use/">Terms of Use</a></p>
  </footer>

</body>
</html>