  <header class="lhb-header">
    <div class="lhb-branding">
      <a class="wbc-logo" href="{{ "/" | url }}"><img src="{{ '/images/logo-wbc.png' | url }}" alt="White Bird Clinic"></a>
      <h2 class="lhb-heading--branding">Little Help Book</h2>
    </div>
    <nav class="lhb-nav-menu">
      <ul class="lhb-nav-menu-items">
<!-- <li><a class="lhb-nav-menu-item button" href="/es/">Español</a></li> -->
        <li><button class="lhb-nav-menu-item lhb-button lhb-button--plain">Menu</button></li>
      </ul>
    </nav>
  </header>