/* Variables
 * (Note: color titles from http://chir.ag/projects/name-that-color)
 * ----------------------------------------------------------------- */

:root { /* Primitive colors */
  --color-white: #ffffff;
  --color-solitude: #e5f3ff;
  --color-iron: #c3d2d6;
  --color-science-blue: #0073d9;
  --color-black-pearl: #081f33;
}

:root { /* Applied colors */
  --color-bg-default: var(--color-white);
  --color-text-default: var(--color-black-pearl);
  --color-accent: var(--color-science-blue);
  --color-bg-alternate: var(--color-solitude);
  --color-text-alternate: var(--color-black-pearl);
  --color-bg-contrast: var(--color-black-pearl);
  --color-text-contrast: var(--color-iron);
}

:root { /* Typography */
  --font-size-base: 16px;
  --line-height-base: 3msu;
  --font-family-sans: -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 
    'Droid Sans', 'Helvetica Neue', sans-serif;
  --font-weight-normal: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  --font-weight-black: 900;
}


/* Typography
 * ----------------------------------------------------------------- */

/* Prevent adjustments of font size after orientation changes in iOS */
html {
  text-size-adjust: 100%;
}

body {
  background-color: var(--color-bg-default);
  color: var(--color-text-default);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-base);
  font-weight: var(--font-weight-normal);
  line-height: 1.375;
}

.lhb-heading {
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}

.lhb-heading--display-x-small {
  font-size: 1em;
  font-weight: 700;
}

.lhb-heading--display-small {
  font-size: 1.25em;
  font-weight: 400;
}

.lhb-heading--display-medium {
  font-size: 1.25em;
  font-weight: 500;
}

.lhb-heading--display-large {
  font-size: 1.75em;
  font-weight: 700;
  line-height: 1.375;
}

.lhb-heading--display-x-large {
  font-size: 2.625em;
  font-weight: var(--font-weight-black);
  line-height: 1.15;
}

.lhb-heading--hero {
  margin: 4rem 0.5rem;
  text-align: center;
}

.lhb-heading--hero + .lhb-heading--sub {
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 30em;
  position: relative;
  top: -2.75rem;
  width: 80%;
}

.lhb-heading--meta {
  font-size: 0.875em;
  font-variant-caps: all-small-caps;
  font-weight: 400;
  line-height: 1.25;
}

.lhb-heading--sup {
  line-height: 1.25;
  margin-bottom: 0;
}

.lhb-heading--sup + .lhb-heading {
  margin-top: 0.125em;
}



/* Layout
 * ----------------------------------------------------------------- */

body, html {
  overflow-x: hidden;
}

body {
  margin: 0;
  min-width: 340px;
}

*, :after, :before {
  box-sizing: inherit;
}


/* Components
 * ----------------------------------------------------------------- */

.lhb-alert {
  align-items: flex-start;
  background-color: var(--color-bg-alternate);
  border-radius: 0.375em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  margin-bottom: 1em;
}

.lhb-alert .lhb-heading--meta {
  opacity: 0.75;
}

.lhb-alert > .lhb-heading--sup {
  margin-top: 0;
}

.lhb-alert *:last-child {
  margin-bottom: 0;
}

.lhb-alert--crisis {
  align-items: center;
  background-color: var(--color-bg-contrast);
  color: var(--color-text-contrast);
  display: flex;
  flex-direction: row;
}

.lhb-alert--crisis .lhb-heading {
  color: var(--color-text-contrast);
  line-height: 1.25;
  margin: 0;
  opacity: 1;
}

.lhb-alert-title {
  margin-bottom: 0;
}

.lhb-branding {
  align-items: center;
  display: flex;
}

.lhb-button {
  background-color: transparent;
  border-color: transparent;
  border-radius: 0.375em;
  border-style: solid;
  border-width: 1px;
  font-family: var(--font-family-sans);
  font-size: 1rem;
  line-height: 1.5;
  padding: 0.5em 1em;
  text-decoration: none;
}

.lhb-button--cta {
  background-color: var(--color-accent);
  color: var(--color-white);
  font-size: 1.25em;
  font-weight: 400;
}

.lhb-button--plain {
  background-color: var(--color-bg-default);
  border-color: var(--color-text-default);
  color: var(--color-text-default);
}

.lhb-link.lhb-category-link {
  color: var(--color-text-default);
  text-decoration: none;
}

.lhb-content {
  padding: 1em;
}

.lhb-footer {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1em 0;
}

.lhb-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0.875em 1em;
}

.lhb-heading--branding {
  font-size: 1em;
  font-weight: 700;
  line-height: 1.2;
  margin: 0;
  padding: 0.5em 1em;
}

.lhb-heading--category {
  margin-bottom: 0.125em;
}

.lhb-link {
  color: var(--color-accent);
}

.lhb-link--back {
  background-image: url(/images/icon-chevron--left.svg);
  background-position: -4px 50%;
  background-repeat: no-repeat;
  color: var(--color-text-default);
  font-variant-caps: all-small-caps;
  padding-left: 1.5em;
  text-decoration: none;
}

.lhb-link:active {
  color: var(--color-text-default);
}

.lhb-nav-menu {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.lhb-nav-menu-item {
  color: var(--color-text-default);
  display: inline-block;
  font-size: 0.875em;
  font-variant-caps: all-small-caps;
  line-height: 1.5;
  margin: 0;
  text-decoration: none;
}

.lhb-nav-menu-item:active {
  color: var(--color-accent);
}

.lhb-nav-menu-items {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lhb-resources {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lhb-resource {
  background-image: url(/images/icon-chevron--right.svg);
  background-position: center right;
  background-repeat: no-repeat;
  margin: 2em 0;
  padding-right: 4em;
}

.lhb-subcategory-links {
  display: none;
}

.lhb-subcategory-list {
  margin-top: 0.125em;
  opacity: 0.75;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media (min-width: 50em) {
  .lhb-subcategory-links {
    display: block;
  }
  .lhb-subcategory-list {
    display: none;
  }
}


.lhb-tab-menu {
  align-items: baseline;
  border-bottom: solid var(--color-text-contrast) 0.125em;
  display: flex;
  justify-content: flex-start;
}

.lhb-tabs {
  display: flex;
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0.25em;
}

.lhb-tabs li {
  margin-right: 1.5em;
}

.lhb-tab {
  background-color: transparent;
  border-color: transparent;
  border-style: solid;
  border-width: 0.125em;
  color: var(--color-text-default);
  display: inline-block;
  font-variant-caps: all-small-caps;
  margin: 0;
  padding: 0.5em 0;
  text-decoration: none;
}

.lhb-tabs li:last-child .lhb-tab {
  margin-right: 0;
}

.lhb-tab.active {
  border-bottom: solid var(--color-accent) 0.125em;
}

.wbc-logo {
  display: block;
  height: 40px;
  width: auto;
}


/* Utilities
 * ----------------------------------------------------------------- */

.text-visual-highlight {
  font-weight: bold;
}