---
layout: layouts/default
title: A-Z
bodyClass: lhb-resource-nav-fixed
---

  <div class="lhb-resource-nav">
    <h2 class="lhb-heading lhb-heading--display-large" id="resources">Resources</h2>

    {% include "_resourceTabs.njk" %}
  </div>

  <h3 class="lhb-heading lhb-heading--display-medium lhb-heading--group">0-9</h3>
  <ul class="lhb-providers">
  {% set doCheck = false %}
  {% set firstLetter = '0-9' %}
  {% for provider in providers %}
    {% if provider.name | first | upper === 'A' %}
      {% set doCheck = true %}
    {% endif %}
    {% if doCheck %}
      {% if provider.name | first | upper !== firstLetter %}
        {% set firstLetter = provider.name | first | upper %}
  </ul>
  <h3 class="lhb-heading lhb-heading--display-medium lhb-heading--group">{{ firstLetter }}</h3>
  <ul class="lhb-providers">
      {% endif %}
    {% endif %}
    <li class="lhb-provider">
      <p><strong>{{ provider.name }}</strong><br>
      {{ provider.address }}</p>
    </li>
  {% endfor %}
  </ul>