---
layout: layouts/default
pagination:
  data: categories
  size: 1
  alias: category
permalink: "/{{ locale }}/categories/{{ category.name.en | slug }}/"
---

<p><a class="lhb-link lhb-link--back" href="{{ ('/' + locale + '/categories/') | url }}">Back to categories</a></p>
<h1 class="lhb-heading lhb-heading--display-large">{{ category.name[locale] }}</h1>

{% for subcategory in category.subcategories %}
<h3 class="lhb-heading lhb-heading--group lhb-heading--display-medium">{{ subcategory.name[locale] }}</h3>
<ul class="lhb-providers">
  {% for provider in subcategory.providers %}
    {% include "partials/_provider.njk" %}
  {% endfor %}
</ul>
{% endfor %}