---
layout: layouts/default
title: Categories
bodyClass: lhb-resource-nav-fixed
---

  <div class="lhb-resource-nav">
    <h2 class="lhb-heading lhb-heading--display-large" id="resources">Resources</h2>

    {% include "_resourceTabs.njk" %}
  </div>

  <ul class="lhb-resources">
    {%- for category in categories -%}
      <li class="lhb-resource">
        <a class="lhb-link lhb-category-link" href="/{{ locale }}/categories/{{ category.name.en | slug }}">
          <h3 class="lhb-heading lhb-heading--display-medium lhb-heading--category">{{ category.name[locale] }}</h3>
          <p class="lhb-subcategory-list">
            {%- for subcategory in category.subcategories -%}
              {{ subcategory.name[locale] }}
              {% if not loop.last %}, {% endif %}
            {%- endfor -%}
          </p>
        </a>
      </li>
    {% endfor %}
  </ul>
