---
layout: layouts/default
title: Cities
---

  <h2 class="lhb-heading lhb-heading--display-large" id="resources">Resources</h2>

  {% include "_resourceTabs.njk" %}

  {% for city in cities %}
  <h3 class="lhb-heading lhb-heading--display-medium lhb-heading--group">{{ city.name }}</h3>
  <ul class="lhb-providers">
    {% for provider in city.providers %}
    <li class="lhb-provider">
      <p><strong>{{ provider.name[locale] }}</strong><br>
      {{ provider.address }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
  