---
layout: layouts/default
---

  <h2 class="lhb-heading lhb-heading--display-large" id="resources">Resources</h2>

  <nav class="lhb-tab-menu">
    <ul class="lhb-tabs">
      <li><a class="lhb-tab" href="/{{ locale }}/categories/">Categories</a></li>
      <li><a class="lhb-tab" href="/{{ locale }}/a-z/">A-Z</a></li>
      <li><a class="lhb-tab active" href="/{{ locale }}/cities/">Cities</a></li>
      <li><a class="lhb-tab" href="/{{ locale }}/map/">Map</a></li>
      <li><button class="lhb-tab" ><img class="lhb-tab-icon" src="/images/icon-search.svg" alt="Search"></button></li>
    </ul>
  </nav>

  {% for city in cities %}
  <h3 class="lhb-heading lhb-heading--display-medium lhb-heading--group">{{ city.name }}</h3>
  <ul class="lhb-providers">
    {% for provider in city.providers %}
    <li class="lhb-provider">
      <p><strong>{{ provider.name[locale] }}</strong><br>
      {{ provider.address }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
  