---
layout: layouts/default
title: Cities
bodyClass: lhb-resource-nav-fixed
---

  <div class="lhb-resource-nav">
    <h2 class="lhb-heading lhb-heading--display-large" id="resources">Resources</h2>

    {% include "partials/_resourceTabs.njk" %}
  </div>

  {% for city in cities %}
  <h3 class="lhb-heading lhb-heading--display-medium lhb-heading--group">{{ city.name }}</h3>
  <ul class="lhb-providers">
    {% for provider in city.providers %}
    <li class="lhb-provider">
      <p><strong>{{ provider.name }}</strong><br>
      {{ provider.address }}</p>
    </li>
    {% endfor %}
  </ul>
  {% endfor %}
  