---
layout: layouts/modal
title: Emergency Crisis Lines
---

  <div class="lhb-resource-nav">
    <h2 class="lhb-heading lhb-heading--display-large lhb-heading--modal">Emergency Crisis Lines</h2>
  </div>

  <p>A crisis is defined personally by each individual who reaches out to White Bird Clinic. It can be a difficult or dangerous time, but it is also an opportunity for change. Anxiety, depression, grief, trauma, identity issues, abuse, interpersonal conflict, and other external or internal factors can contribute to a time of crisis. If you find your ability to access your own resources is compromised by a crisis event, please reach out to us on our 24/7 crisis line at <a class="lhb-link lhb-link--tel" href="tel:+15416874000">541-687-4000</a> or <a class="lhb-link lhb-link--tel" href="tel:+18004227558">1-800-422-7558</a>, or see below for a complete listing of emergency crisis lines.</p>

  <ul class="lhb-providers">
    {%- for provider in crisis -%}
    <li class="lhb-provider">
      <p><strong>{{ provider.name[locale] }}</strong><br>
      {{ provider.address }}</p>
    </li>
    {% endfor %}
  </ul>