  <footer class="lhb-footer">
    <p>Powered by <a class="lhb-link" href="https://whitebirdclinic.org/">White Bird Clinic</a> &middot; <a class="lhb-link" href="/terms-of-use/">Terms of Use</a></p>
  </footer>
